$navwidth : 100% ;
$navheigt : 20% ;
$nav-txtcolor : white ;
$nav-bgcolor: #1978c5;

/* Menu dropdown */
$dropdownbg : #f9f9f9;
$boxshadow : 0px 8px 16px 0px rgba(0,0,0,0.2);

//dropdown-content a 
$dpdw-txtcolor: black;

//dropdown-content a:hover 
$dpdw-bgcolor: #f1f1f1;

//dropdown:hover .dropbtn 
$dpdw-htxtcolor: #f1f1f1;