@import "variables";
@import "mixins";

html ,body {
    margin : 0;
}
/*Barre de navigation */
#nav {
    display: flex;
    width: $navwidth;
    height: $navheigt;
    padding-top: 10px;
    padding-bottom: 10px;
    color:$nav-txtcolor ;
    background: $nav-bgcolor;
    flex-direction: row;
    justify-content: space-around;

}
#nav.hide{
    opacity: 0;
}
/* Menu déroulant gauche */
.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1465a7;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
 
/* Liens du menu déroulant gauche */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.3s
}
 
/* Hover des liens du menu déroulant gauche */
.sidenav a:hover, .offcanvas a:focus{
    color: rgb(216, 216, 216);
}
 
/* Position et style de la croix de fermeture du menu déroulant gauche */
.sidenav .closebtn {
    color: white;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav .closebtn:hover {
    color:rgb(216, 216, 216);
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#icoOpen {
    margin-top: 50%;
    float: left;
}

/* Menu dropdown */
.dropbtn {
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $dropdownbg;
    min-width: 160px;
    box-shadow: $boxshadow;
    z-index: 1;
}
  
.dropdown-content a {
    $dpdw-txtcolor: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: $dpdw-bgcolor;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn{
    color: $dpdw-htxtcolor;
}

.section {
    max-width: 1024px;
    display: block;
    margin: auto;
}

#section1 {
    text-align:justify;
}

#section2 {
    text-align:justify;
    opacity:0;
    display:block;
}

#section2.app {
    opacity: 1;
    transition: opacity 1s;
  }

#img1 {
    max-height: 50px;
    width: auto;
}

#img2 {
    width: 1000px;
    height: 500px;
}